.Navbar{
   position: fixed;
}


/* Ensure the logo is centered on all screen sizes */
.navbar-brand {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 0;
 }
 
 /* Adjustments for mobile screens */
 @media (max-width: 768px) {
   /* .navbar {
     text-align: center;
   } */
   .navbar-toggle {
     position: absolute;
     right: 0;
   }

   .navbar-brand {
      top: 0; /* Keep the logo at the top */
      transform: translate(-50%, 0);
    }

 }
 


 